{% extends 'base.html' %}

{% block body_content %}
<div class="page-header">
  <h1>{{ recipe.title }}</h1>
  <a href="/users/{{ user_name }}/recipe/{{ recipe.url_name }}/edit" class="btn btn-lg btn-primary" id="id_edit_button">Edit recipe</a>
  <a href="/users/{{ user_name }}" class="btn btn-lg btn-primary" id="id_back_button">Back</a>
</div>

{% if recipe.img_url %}
<img src="{{ recipe.img_url }}" class="img-rounded">
{% endif %}

<h3>Ingredients</h3>
<ul style="list-style: none;">
    {% for ingredient in ingredients %}
        <li>{{ ingredient }}</li>
    {% endfor %}
</ul>

<h3>Directions</h3>
<ul style="list-style: none;">
    {% for direction in directions %}
        <li>{{ direction }}</li> <br>
    {% endfor %}
</ul>

<h3>Servings</h3>
{{ recipe.servings }}

{% if recipe.source %}
<h3>Source</h3>
{{ recipe.source }}
{% endif %}

{% if recipe.source_url %}
<h3>Source URL</h3>
<a href="{{ recipe.source_url }}">{{ recipe.source_url }}</a>
{% endif %}

{% if recipe.cooking_time %}
<h3>Cooking Time</h3>
{{ recipe.cooking_time }}
{% endif %}

{% if recipe.total_time %}
<h3>Total Time</h3>
{{ recipe.total_time }}
{% endif %}

{% if recipe.notes %}
<h3>Notes</h3>
{{ recipe.notes }}
{% endif %}

{% endblock %}
